html {
    scroll-behavior: smooth;
}

ol,li{
    padding-left: 1rem;
}

h2 a::before, h3 a::before {
    content: "#";
    position: absolute;
    width: 2rem;
    margin-left: -2rem;
    color: rgb(206, 206, 206);
    font-weight: 100;
    text-decoration: none;
}

img{
    width: 100%;
}


/*
ol { counter-reset: item }
li{ display: block }
li:before { content: counters(item, ".") " "; counter-increment: item }
*/
